sites/*/settings.php
sites/*/files/

includes/
misc/
modules/
profiles/
scripts/
themes/


_local/*
_sql/*

sitemap.xml
sitemap.xml.gz
*.tar.gz
*.zip


authorize.php
CHANGELOG.txt
COPYRIGHT.txt
cron.php
index.php
INSTALL.*.txt
install.php
LICENSE.txt
MAINTAINERS.txt
php.ini
phpinfo.php
README.txt
robots.txt
update.php
UPGRADE.txt
web.config
xmlrpc.php

